db.sqlite
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go build command
*.out

# Dependency directories (remove the comment below if you use dep)
# vendor/

# Compiled Object files, Static and Dynamic libs (remove the comment below if you use dep)
*.o
*.a

