<!--create a readonly display for a donor using tailwind and the go template syntax-->
<!--the fields displayed are the following:
	Name          string
	Phone         string
	Email         string
	Address       string
	IsAnonymous   bool
	IsLegalEntity bool
	AnonymousName string
    Dontations    []Donation
-->
<!--if IsAnonymous is true than the email name , phone and address are hidden and only the anonymous name is displayed -->
<article>
    <h1 class="font-black">Донор</h1>
    <div class="flex flex-col text-center py-5">
        <div class="flex flex-col text-center py-5">
            {{if .Donor.IsAnonymous}}
            <div class="flex flex-row text-center py-5">
                <label class="text-gray-700">Анонимно име:</label>
                <p class="text-gray-900">{{.Donor.AnonymousName}}</p>
            </div>
            {{else}}
            <div class="flex flex-row text-center py-5">
                <label class="text-gray-700">Име:</label>
                <p class="text-gray-900">{{.Donor.Name}}</p>
            </div>
            <div class="flex flex-row text-center py-5">
                <label class="text-gray-700">Телефон:</label>
                <p class="text-gray-900">{{.Donor.Phone}}</p>
            </div>
            <div class="flex flex-row text-center py-5">
                <label class="text-gray-700">Е-пошта:</label>
                <p class="text-gray-900">{{.Donor.Email}}</p>
            </div>
            <div class="flex flex-row text-center py-5">
                <label class="text-gray-700">Адреса:</label>
                <p class="text-gray-900">{{.Donor.Address}}</p>
            </div>
            {{end}}

            <div class="flex flex-row text-center py-5">
                <label class="text-gray-700">Правно лице:</label>
                <p class="text-gray-900">{{.Donor.IsLegalEntity}}</p>
            </div>
            <div class="flex flex-row text-center py-5">
                <label class="text-gray-700">Донации:</label>
                <p class="text-gray-900">{{.Donor.Donations}}</p>
            </div>
        </div>
</article>

