<h1>Donors</h1>
<div>
    <button hx-get="/donors/new" hx-target="#main" hx-push-url="true"> New </button>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    {{range .Donors}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.Email}}</td>
        <td>{{.Phone}}</td>
        <td>{{.Address}}</td>
        <td>
            <div>
                <button hx-get="/donors/{{.ID}}" hx-target="#main" hx-push-url="true"> View </button>
                <button hx-get="/donors/{{.ID}}/edit" hx-target="#main" hx-push-url="true"> Edit </button>
                <button hx-delete="/donors/{{.ID}}" hx-confirm="Are you sure?" hx-target="#main" hx-push-url="true"> Delete </button>
            </div>
        </td>
    </tr>
    {{else}}
    <tr>
        <td colspan="10">No donors found!</td>
    </tr>
    {{end}}
</table>
