<form class="border border-gray-200 p-6 rounded-md space-y-6"
    {{if .Donor}}
        hx-post="/donors/{{.Donor.ID}}"
    {{else}}
        hx-put="/donors"
    {{end}}
    >
    <div class="space-y-2">
        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
        <input type="text" id="Name" name="Name" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        {{if .Donor}} value="{{.Donor.Name}}" {{end}}>

    </div>
    <div class="space-y-2">
        <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
        <input type="text" name="Phone" id="phone" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            {{if .Donor}} value="{{.Donor.Name}}" {{end}}>
    </div>
    <div class="space-y-2">
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input type="email" name="Email" id="email" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
            {{if .Donor}} value="{{.Donor.Name}}" {{end}}>
    </div>
    <div class="space-y-2">
        <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
        <input type="text" name="Address" id="address" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            {{if .Donor}} value="{{.Donor.Name}}" {{end}}>
    </div>
    <div class="flex items-start">
        <div class="flex items-center h-5">
            <input type="checkbox" name="IsAnonymous" id="isAnonymous" class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
        </div>
        <div class="ml-3 text-sm">
            <label for="isAnonymous" class="font-medium text-gray-700">Is Anonymous</label>
        </div>
    </div>
    <div class="flex items-start">
        <div class="flex items-center h-5">
            <input type="checkbox" name="IsLegalEntity" id="isLegalEntity" class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
        </div>
        <div class="ml-3 text-sm">
            <label for="isLegalEntity" class="font-medium text-gray-700">Is Legal Entity</label>
        </div>
    </div>
    <div class="space-y-2">
        <label for="anonymousName" class="block text-sm font-medium text-gray-700">Anonymous Name</label>
        <input type="text" name="AnonymousName" id="anonymousName" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <button type="submit" class="w-full px-4 py-2 bg-indigo-600 text-white font-medium rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
</form>

