{{/* this is a partial template */}}
{{/* it is included in the main template*/}}
<div id="menu" class="flex flex-row my-5 justify-center w-full rounded-lg">
    {{range .Menu}}{{if .IsEnabled}}
    {{if .IsExternal}}
    <a class="
              button
              rounded-lg
              flex
              p-3
              mr-1
              overflow-hidden
              text-2xl
              font-bold
              dark:text-white
              dark:focus:ring-blue-800" href="{{.Uri}}" hx-disable="true">
        {{.Title}}
    </a>
    {{else}}
    <button class="justify-center
               rounded-lg
               button
               p-3
               mr-1
               overflow-hidden
               text-2xl
               font-bold
               " hx-get='{{.Uri}}' hx-target="#main" hx-push-url="true">
        {{.Title}}
    </button>
    {{end}}
    {{end}}
    {{end}}
</div>
