{{/* this is a partial template */}}
{{/* it is included in the main template*/}}
<div id="menu" class="flex flex-col md:flex-row justify-center w-full">
    {{range .Menu}}{{if .IsEnabled}}
    {{if .IsExternal}}
    <a class="
              flex
              justify-center
              button
              unselectable
              p-3
              text-2xl
              font-bold
              " href="{{.Uri}}" hx-disable="true">
        {{.Title}}
    </a>
    {{else}}
    <button class="justify-center
               button
               unselectable
               p-3
               sm:border-t-2
               md:border-l-2
               md:border-t-0
               lg:border-t-0
               text-2xl
               font-bold
               " hx-get='{{.Uri}}' hx-target="#main" hx-push-url="true">
        {{.Title}}
    </button>
    {{end}}
    {{end}}
    {{end}}
</div>
